.sendBtn {
    width: 180px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-weight: 300;
    margin: 3px;
}

.btns {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
}